.section {
  padding: 2rem 1.25rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .section {
    padding: 2.4rem 0;
  }

  .list {
    gap: 1.5rem;
  }
}
